# Exclude pnpm-lock.yaml from diffs in PRs (but still commit it)
# linguist-generated collapses files in GitHub PR diffs by default
pnpm-lock.yaml linguist-generated=true

# Exclude db migrations folder from diffs in PRs (but still commit them)
packages/db/src/migrations/** linguist-generated=true
