/** biome-ignore-all lint/suspicious/noUnknownAtRules: Tailwind CSS at-rules */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 45%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 44%;
    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 9%;
    --destructive: 357 100% 45%;
    --destructive-foreground: 0 0% 96%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 0% 63%;
    --chart-1: 0 0% 45%;
    --chart-2: 0 0% 45%;
    --chart-3: 0 0% 45%;
    --chart-4: 0 0% 45%;
    --chart-5: 0 0% 45%;
    --sidebar: 0 0% 98%;
    --sidebar-foreground: 0 0% 3.9%;
    --sidebar-primary: 0 0% 9%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 96%;
    --sidebar-accent-foreground: 0 0% 9%;
    --sidebar-border: 0 0% 90%;
    --sidebar-ring: 0 0% 63%;
    --radius: 0rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 9.8%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 45%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 63%;
    --accent: 0 0% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 359 100% 70%;
    --destructive-foreground: 0 0% 15%;
    --border: 0 0% 22%;
    --input: 0 0% 32%;
    --ring: 0 0% 45%;
    --chart-1: 0 0% 45%;
    --chart-2: 0 0% 45%;
    --chart-3: 0 0% 45%;
    --chart-4: 0 0% 45%;
    --chart-5: 0 0% 45%;
    --sidebar: 0 0% 9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 0 0% 9%;
    --sidebar-accent: 0 0% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 22%;
    --sidebar-ring: 0 0% 32%;
  }
}
